
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Header*/
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 30px;
    margin-bottom: 20px;
}

nav img{
    width: 130px;
}

nav i.fas.fa-bars{
    font-size: 20px;
}

nav button.btn.bg-orange{
    display: none;
}

header nav ul{
    display: none;

}

header nav ul a{
    text-decoration: none;
    color:#242E52; 
    font-family: 'Be Vietnam Pro', sans-serif;
    font-style: normal;
    font-size: 16px;
}

/*Button and link*/
.btn{
    border-radius: 50px;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    border:none;
    padding: 10px 20px;
    color: #FFFFFF;
    font-weight: 500;
}
.bg-orange{
    background-color: #F3603B;
}

button:hover{
    background-color: #242E52;
    
}

/*Sección 1*/
section.section1 article.articulo1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10%;
   
}
section.section1 article.articulo1 img{
    max-width: 550px;
    min-width: 290px;
    
}
section.section1 article.articulo1 div{
    display: flex;
    flex-direction: column;
    align-items: center;
    
   
    }

section.section1 article.articulo1 h2{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 20px;
    text-align: center;
    color: #232851;

    
}
section.section1 article.articulo1 p{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #B3B2B7;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 85%;
    text-align: center;
}

/*Sección 2*/
section.section2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10%;
}

section.section2 article.articulo1{
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
   }
   section.section2 article.articulo1 h2{

    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 2rem;
    color: #232851;
    margin-bottom: 20px;
   }
   section.section2 article.articulo1 p{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #B3B2B7;
    
    margin-bottom: 30px;

    
   }


   section.section2 article.articulo2 div div.titulo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 24px;
    background-color: #ffe0fa;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px ;
    margin-left: 10px;
   }
   section.section2 article.articulo2 div div.titulo p{
       background-color: #F3603B ;
       border-radius: 30%;
       padding: 10px 25px;
       color: white;
       font-family: 'Be Vietnam Pro', sans-serif;
       font-size: 14px;
       margin-left: 5px;
   }

   section.section2 article.articulo2 div div.titulo h6{
       padding: 10px;
   }

   section.section2 article.articulo2 div  p{
       font-family: 'Be Vietnam Pro', sans-serif;
       padding: 10px;
       color:#B3B2B7;
   }
/*Sección 3*/

section.section3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 40px;
}

section.section3 h2{
    font-family: 'Be Vietnam Pro', sans-serif; 
    font-size: 2rem;
    color: #232851;
    margin-bottom: 20px;
    text-align: center;
}

section.section3 div{
    display: flex;
    justify-content: center;
    align-items: center;
   flex-wrap: wrap;
   width: 100vw;
   margin-bottom: 20px;
}

section.section3 div article img{
    width: 70px;
    padding-bottom: 20px;
}
section.section3 div article{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color:  #FAFAFA;
    text-align: center;
    font-family: 'Be Vietnam Pro', sans-serif; 
    padding: 20px;
    width: 90%;
}

section.section3 div article p{
 font-size: 1rem;
 color: #B9B9C1;
 font-weight: 400;
 padding-bottom: 20px;
 padding-top: 20px;
}
section.section3 button{
    text-align: center;
}

section.section3 div article.cardRichard{
    display: none;
}

section.section3 div article.cardAnisha{
    display: none;
}


/*Responsive*/
@media (min-width: 665px){
    /* Tablets */
}

@media (min-width: 1024px){
    /* Laptop y escritorio*/

    header nav{
        margin: 20px 80px 40px;
    }
    header nav ul{
        display: flex;
        justify-content: space-between;
        width: 500px;
        list-style: none;
    
    
    }
    nav button.btn.bg-orange{
        display: block;
    }
    nav i.fas.fa-bars{
        display: none;
          }
    section.section1 article.articulo1 div{
        align-items: flex-start;
        order: -1;
        width: 40%;
     }
     section.section1 article.articulo1 h2{
    font-size: 3rem;
     text-align: left;
     margin-top: 0px;
    }
    section.section1 article.articulo1 p{
        color: black;
         text-align: left;
         width: 74%;
         
        }

        section.section2 {
            align-items: flex-start;
        }
        section.section2 article.articulo1{
            display: flex;
           text-align: left;
            width: 40%;
            margin-top: 0px;
        }

       
        section.section2 article.articulo2{
            width: 40%;

        }

        section.section2 article.articulo2 div div.titulo{
            background-color: white;
} 

section.section3 div article{
    width: 30%;
}
section.section3 div article.cardRichard{
    display: flex;
}

section.section3 div article.cardAnisha{
    display: flex;
}

}